--
-- PostgreSQL database dump
--

\restrict iASVjBub7dlC8IFjBZxWAWtMupvtJHIokDAQcbyTVKKTMlaeHsLar4iPb7YbnTn

-- Dumped from database version 15.14 (Debian 15.14-1.pgdg13+1)
-- Dumped by pg_dump version 15.14 (Debian 15.14-1.pgdg13+1)

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: Actividades; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Actividades" (
    "Id" bigint NOT NULL,
    "SerieId" bigint NOT NULL,
    "Duracion" timestamp with time zone,
    "Repeticiones" integer,
    "Peso" double precision,
    "Punto" double precision,
    "EntrenamientoId" bigint NOT NULL,
    "EjercicioAsignadoId" bigint NOT NULL
);


ALTER TABLE public."Actividades" OWNER TO admin;

--
-- Name: Actividades_Id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public."Actividades" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Actividades_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Administradores; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Administradores" (
    "Id" bigint NOT NULL,
    "Cuil" text NOT NULL,
    "Direccion" text NOT NULL,
    "Localidad" text NOT NULL
);


ALTER TABLE public."Administradores" OWNER TO admin;

--
-- Name: Asistencias; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Asistencias" (
    "Id" bigint NOT NULL,
    "UsuarioId" bigint NOT NULL,
    "Fecha" timestamp with time zone NOT NULL,
    "Presente" boolean NOT NULL,
    "HoraEntrada" timestamp with time zone NOT NULL,
    "HoraSalida" timestamp with time zone,
    "Observaciones" text NOT NULL,
    "GimnasioId" bigint NOT NULL
);


ALTER TABLE public."Asistencias" OWNER TO admin;

--
-- Name: Asistencias_Id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public."Asistencias" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Asistencias_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: ConfiguracionesGrupoMuscular; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."ConfiguracionesGrupoMuscular" (
    "Id" bigint NOT NULL,
    "Multiplicadopeso" double precision NOT NULL,
    "MultiplicadorRepeticiones" double precision NOT NULL,
    "GrupoMuscularId" bigint NOT NULL
);


ALTER TABLE public."ConfiguracionesGrupoMuscular" OWNER TO admin;

--
-- Name: ConfiguracionesGrupoMuscular_Id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public."ConfiguracionesGrupoMuscular" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."ConfiguracionesGrupoMuscular_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: DiasDeLaSemana; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."DiasDeLaSemana" (
    "Id" bigint NOT NULL,
    "Nombre" text NOT NULL
);


ALTER TABLE public."DiasDeLaSemana" OWNER TO admin;

--
-- Name: DiasDeLaSemana_Id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public."DiasDeLaSemana" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."DiasDeLaSemana_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Dificultades; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Dificultades" (
    "Id" bigint NOT NULL,
    "Descripcion" text NOT NULL
);


ALTER TABLE public."Dificultades" OWNER TO admin;

--
-- Name: Dificultades_Id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public."Dificultades" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Dificultades_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Ejercicios; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Ejercicios" (
    "Id" bigint NOT NULL,
    "Nombre" character varying(100) NOT NULL,
    "Descripcion" character varying(500),
    "UrlImagen" character varying(250) NOT NULL,
    "DuracionEstimada" integer NOT NULL,
    "UrlVideo" character varying(250) NOT NULL,
    "GrupoMuscularId" bigint NOT NULL,
    "MaquinaId" bigint
);


ALTER TABLE public."Ejercicios" OWNER TO admin;

--
-- Name: EjerciciosAsignados; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."EjerciciosAsignados" (
    "Id" bigint NOT NULL,
    "NumeroEjercicio" integer NOT NULL,
    "EjercicioId" bigint NOT NULL,
    "SesionId" bigint NOT NULL
);


ALTER TABLE public."EjerciciosAsignados" OWNER TO admin;

--
-- Name: EjerciciosAsignados_Id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public."EjerciciosAsignados" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."EjerciciosAsignados_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Ejercicios_Id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public."Ejercicios" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Ejercicios_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Entrenamientos; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Entrenamientos" (
    "Id" bigint NOT NULL,
    "Fecha" timestamp with time zone NOT NULL,
    "Duracion" timestamp with time zone NOT NULL,
    "SocioId" bigint NOT NULL
);


ALTER TABLE public."Entrenamientos" OWNER TO admin;

--
-- Name: Entrenamientos_Id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public."Entrenamientos" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Entrenamientos_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Fotos; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Fotos" (
    "Id" bigint NOT NULL,
    "SocioId" bigint NOT NULL,
    "Fecha" timestamp with time zone NOT NULL,
    "UrlImagen" text NOT NULL
);


ALTER TABLE public."Fotos" OWNER TO admin;

--
-- Name: Fotos_Id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public."Fotos" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Fotos_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Gimnasios; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Gimnasios" (
    "Id" bigint NOT NULL,
    "Nombre" text NOT NULL,
    "Direccion" text NOT NULL,
    "RazonSocial" text NOT NULL,
    "LogoUrl" text NOT NULL,
    "ColorPrincipal" text NOT NULL,
    "ColorSecundario" text NOT NULL,
    "Email" text NOT NULL,
    "Telefono" text NOT NULL,
    "Cuil" text NOT NULL,
    "AdministradorId" bigint
);


ALTER TABLE public."Gimnasios" OWNER TO admin;

--
-- Name: Gimnasios_Id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public."Gimnasios" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Gimnasios_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: GruposMusculares; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."GruposMusculares" (
    "Id" bigint NOT NULL,
    "Nombre" character varying(100) NOT NULL,
    "Imagen" character varying(255)
);


ALTER TABLE public."GruposMusculares" OWNER TO admin;

--
-- Name: GruposMusculares_Id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public."GruposMusculares" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."GruposMusculares_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Invitaciones; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Invitaciones" (
    "Id" bigint NOT NULL,
    "GimnasioId" bigint NOT NULL,
    "Email" text NOT NULL,
    "DatosPrellenados" text NOT NULL,
    "MetodoPago" text NOT NULL,
    "MpPaymentId" text,
    "CreadaEn" timestamp with time zone NOT NULL,
    "ExpiraEn" timestamp with time zone NOT NULL,
    "Estado" text NOT NULL,
    "UsuarioId" bigint,
    "CuotaPagadaHasta" timestamp with time zone
);


ALTER TABLE public."Invitaciones" OWNER TO admin;

--
-- Name: Invitaciones_Id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public."Invitaciones" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Invitaciones_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Jornadas; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Jornadas" (
    "Id" bigint NOT NULL,
    "HoraInicio" interval NOT NULL,
    "HoraFin" interval NOT NULL,
    "ProfesorId" bigint NOT NULL,
    "DiaDeLaSemanaId" bigint NOT NULL
);


ALTER TABLE public."Jornadas" OWNER TO admin;

--
-- Name: Jornadas_Id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public."Jornadas" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Jornadas_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Logros; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Logros" (
    "Id" bigint NOT NULL,
    "NombreClave" text NOT NULL,
    "Nombre" text NOT NULL,
    "Descripcion" text NOT NULL,
    "Categoria" text NOT NULL,
    "Imagen" text NOT NULL,
    "Puntos" integer NOT NULL
);


ALTER TABLE public."Logros" OWNER TO admin;

--
-- Name: LogrosSocios; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."LogrosSocios" (
    "Id" bigint NOT NULL,
    "LogroId" bigint NOT NULL,
    "SocioId" bigint NOT NULL,
    "PuntosOtorgados" integer NOT NULL,
    "FechaOtorgado" timestamp with time zone NOT NULL
);


ALTER TABLE public."LogrosSocios" OWNER TO admin;

--
-- Name: LogrosSocios_Id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public."LogrosSocios" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."LogrosSocios_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Logros_Id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public."Logros" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Logros_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Maquinas; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Maquinas" (
    "Id" bigint NOT NULL,
    "GimnasioId" bigint NOT NULL,
    "Nombre" text NOT NULL,
    "UrlImagen" text NOT NULL,
    "Qr" text NOT NULL
);


ALTER TABLE public."Maquinas" OWNER TO admin;

--
-- Name: Maquinas_Id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public."Maquinas" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Maquinas_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: MedidasCorporales; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."MedidasCorporales" (
    "Id" bigint NOT NULL,
    "SocioId" bigint NOT NULL,
    "Fecha" timestamp with time zone NOT NULL,
    "PechoCm" double precision NOT NULL,
    "CinturaCm" double precision NOT NULL,
    "CaderaCm" double precision NOT NULL,
    "PesoKg" double precision NOT NULL,
    "BrazoDerechoCm" double precision NOT NULL,
    "BrazoIzquierdoCm" double precision NOT NULL
);


ALTER TABLE public."MedidasCorporales" OWNER TO admin;

--
-- Name: MedidasCorporales_Id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public."MedidasCorporales" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."MedidasCorporales_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Notificaciones; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Notificaciones" (
    "Id" bigint NOT NULL,
    "Titulo" text NOT NULL,
    "Mensaje" text NOT NULL,
    "Activa" boolean NOT NULL,
    "Leido" boolean NOT NULL,
    "FechaEnvio" timestamp with time zone NOT NULL,
    "UsuarioEmisorId" bigint NOT NULL,
    "UsuarioReceptorId" bigint NOT NULL
);


ALTER TABLE public."Notificaciones" OWNER TO admin;

--
-- Name: Notificaciones_Id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public."Notificaciones" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Notificaciones_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Personas; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Personas" (
    "Id" bigint NOT NULL,
    "Nombre" text NOT NULL,
    "Edad" integer NOT NULL
);


ALTER TABLE public."Personas" OWNER TO admin;

--
-- Name: Personas_Id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public."Personas" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Personas_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Profesores; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Profesores" (
    "Id" bigint NOT NULL,
    "Matricula" text NOT NULL,
    "Sueldo" double precision NOT NULL
);


ALTER TABLE public."Profesores" OWNER TO admin;

--
-- Name: Puntajes; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Puntajes" (
    "Id" bigint NOT NULL,
    "SocioId" bigint NOT NULL,
    "Motivo" text NOT NULL,
    "Fecha" timestamp with time zone NOT NULL,
    "Valor" integer NOT NULL
);


ALTER TABLE public."Puntajes" OWNER TO admin;

--
-- Name: Puntajes_Id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public."Puntajes" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Puntajes_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Rutinas; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Rutinas" (
    "Id" bigint NOT NULL,
    "Nombre" character varying(100) NOT NULL,
    "TipoCreacion" character varying(50) NOT NULL,
    "FechaCreacion" timestamp with time zone NOT NULL,
    "Descripcion" character varying(500),
    "Activa" boolean NOT NULL,
    "SocioId" bigint NOT NULL,
    "UsuarioId" bigint NOT NULL,
    "AdministradorId" bigint,
    "ProfesorId" bigint
);


ALTER TABLE public."Rutinas" OWNER TO admin;

--
-- Name: Rutinas_Id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public."Rutinas" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Rutinas_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Series; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Series" (
    "Id" bigint NOT NULL,
    "NumeroDeSerie" integer NOT NULL,
    "Duracion" timestamp with time zone,
    "Repeticiones" integer,
    "Peso" double precision,
    "EjercicioAsignadoId" bigint NOT NULL
);


ALTER TABLE public."Series" OWNER TO admin;

--
-- Name: Series_Id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public."Series" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Series_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Sesiones; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Sesiones" (
    "Id" bigint NOT NULL,
    "NumeroDeSesion" integer NOT NULL,
    "Nombre" text NOT NULL,
    "RutinaId" bigint NOT NULL
);


ALTER TABLE public."Sesiones" OWNER TO admin;

--
-- Name: Sesiones_Id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public."Sesiones" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Sesiones_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: Socios; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Socios" (
    "Id" bigint NOT NULL,
    "GimnasioId" bigint,
    "FechaRegistro" timestamp with time zone NOT NULL,
    "Altura" double precision NOT NULL,
    "Peso" double precision NOT NULL,
    "Nivel" text NOT NULL,
    "Puntaje" double precision NOT NULL
);


ALTER TABLE public."Socios" OWNER TO admin;

--
-- Name: Usuarios; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."Usuarios" (
    "Id" bigint NOT NULL,
    "Nombre" text NOT NULL,
    "Apellido" text NOT NULL,
    "Dni" integer NOT NULL,
    "NombreUsuario" text NOT NULL,
    "PasswordHash" text NOT NULL,
    "Rol" text NOT NULL,
    "Sexo" text NOT NULL,
    "QrToken" text,
    "TokenRecuperacion" text,
    "TokenExpira" timestamp with time zone,
    "FechaNacimiento" timestamp with time zone NOT NULL,
    "FotoDePerfil" text NOT NULL,
    "Estado" text,
    "Email" text NOT NULL,
    "CuotaPagadaHasta" timestamp with time zone,
    "Telefono" text,
    "EsActivado" boolean NOT NULL
);


ALTER TABLE public."Usuarios" OWNER TO admin;

--
-- Name: Usuarios_Id_seq; Type: SEQUENCE; Schema: public; Owner: admin
--

ALTER TABLE public."Usuarios" ALTER COLUMN "Id" ADD GENERATED BY DEFAULT AS IDENTITY (
    SEQUENCE NAME public."Usuarios_Id_seq"
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1
);


--
-- Name: __EFMigrationsHistory; Type: TABLE; Schema: public; Owner: admin
--

CREATE TABLE public."__EFMigrationsHistory" (
    "MigrationId" character varying(150) NOT NULL,
    "ProductVersion" character varying(32) NOT NULL
);


ALTER TABLE public."__EFMigrationsHistory" OWNER TO admin;

--
-- Name: Actividades PK_Actividades; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Actividades"
    ADD CONSTRAINT "PK_Actividades" PRIMARY KEY ("Id");


--
-- Name: Administradores PK_Administradores; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Administradores"
    ADD CONSTRAINT "PK_Administradores" PRIMARY KEY ("Id");


--
-- Name: Asistencias PK_Asistencias; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Asistencias"
    ADD CONSTRAINT "PK_Asistencias" PRIMARY KEY ("Id");


--
-- Name: ConfiguracionesGrupoMuscular PK_ConfiguracionesGrupoMuscular; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."ConfiguracionesGrupoMuscular"
    ADD CONSTRAINT "PK_ConfiguracionesGrupoMuscular" PRIMARY KEY ("Id");


--
-- Name: DiasDeLaSemana PK_DiasDeLaSemana; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."DiasDeLaSemana"
    ADD CONSTRAINT "PK_DiasDeLaSemana" PRIMARY KEY ("Id");


--
-- Name: Dificultades PK_Dificultades; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Dificultades"
    ADD CONSTRAINT "PK_Dificultades" PRIMARY KEY ("Id");


--
-- Name: Ejercicios PK_Ejercicios; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Ejercicios"
    ADD CONSTRAINT "PK_Ejercicios" PRIMARY KEY ("Id");


--
-- Name: EjerciciosAsignados PK_EjerciciosAsignados; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."EjerciciosAsignados"
    ADD CONSTRAINT "PK_EjerciciosAsignados" PRIMARY KEY ("Id");


--
-- Name: Entrenamientos PK_Entrenamientos; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Entrenamientos"
    ADD CONSTRAINT "PK_Entrenamientos" PRIMARY KEY ("Id");


--
-- Name: Fotos PK_Fotos; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Fotos"
    ADD CONSTRAINT "PK_Fotos" PRIMARY KEY ("Id");


--
-- Name: Gimnasios PK_Gimnasios; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Gimnasios"
    ADD CONSTRAINT "PK_Gimnasios" PRIMARY KEY ("Id");


--
-- Name: GruposMusculares PK_GruposMusculares; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."GruposMusculares"
    ADD CONSTRAINT "PK_GruposMusculares" PRIMARY KEY ("Id");


--
-- Name: Invitaciones PK_Invitaciones; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Invitaciones"
    ADD CONSTRAINT "PK_Invitaciones" PRIMARY KEY ("Id");


--
-- Name: Jornadas PK_Jornadas; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Jornadas"
    ADD CONSTRAINT "PK_Jornadas" PRIMARY KEY ("Id");


--
-- Name: Logros PK_Logros; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Logros"
    ADD CONSTRAINT "PK_Logros" PRIMARY KEY ("Id");


--
-- Name: LogrosSocios PK_LogrosSocios; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."LogrosSocios"
    ADD CONSTRAINT "PK_LogrosSocios" PRIMARY KEY ("Id");


--
-- Name: Maquinas PK_Maquinas; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Maquinas"
    ADD CONSTRAINT "PK_Maquinas" PRIMARY KEY ("Id");


--
-- Name: MedidasCorporales PK_MedidasCorporales; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."MedidasCorporales"
    ADD CONSTRAINT "PK_MedidasCorporales" PRIMARY KEY ("Id");


--
-- Name: Notificaciones PK_Notificaciones; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Notificaciones"
    ADD CONSTRAINT "PK_Notificaciones" PRIMARY KEY ("Id");


--
-- Name: Personas PK_Personas; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Personas"
    ADD CONSTRAINT "PK_Personas" PRIMARY KEY ("Id");


--
-- Name: Profesores PK_Profesores; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Profesores"
    ADD CONSTRAINT "PK_Profesores" PRIMARY KEY ("Id");


--
-- Name: Puntajes PK_Puntajes; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Puntajes"
    ADD CONSTRAINT "PK_Puntajes" PRIMARY KEY ("Id");


--
-- Name: Rutinas PK_Rutinas; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Rutinas"
    ADD CONSTRAINT "PK_Rutinas" PRIMARY KEY ("Id");


--
-- Name: Series PK_Series; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Series"
    ADD CONSTRAINT "PK_Series" PRIMARY KEY ("Id");


--
-- Name: Sesiones PK_Sesiones; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Sesiones"
    ADD CONSTRAINT "PK_Sesiones" PRIMARY KEY ("Id");


--
-- Name: Socios PK_Socios; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Socios"
    ADD CONSTRAINT "PK_Socios" PRIMARY KEY ("Id");


--
-- Name: Usuarios PK_Usuarios; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Usuarios"
    ADD CONSTRAINT "PK_Usuarios" PRIMARY KEY ("Id");


--
-- Name: __EFMigrationsHistory PK___EFMigrationsHistory; Type: CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."__EFMigrationsHistory"
    ADD CONSTRAINT "PK___EFMigrationsHistory" PRIMARY KEY ("MigrationId");


--
-- Name: IX_Actividades_EjercicioAsignadoId; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "IX_Actividades_EjercicioAsignadoId" ON public."Actividades" USING btree ("EjercicioAsignadoId");


--
-- Name: IX_Actividades_EntrenamientoId; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "IX_Actividades_EntrenamientoId" ON public."Actividades" USING btree ("EntrenamientoId");


--
-- Name: IX_Actividades_SerieId; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "IX_Actividades_SerieId" ON public."Actividades" USING btree ("SerieId");


--
-- Name: IX_Asistencias_GimnasioId; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "IX_Asistencias_GimnasioId" ON public."Asistencias" USING btree ("GimnasioId");


--
-- Name: IX_Asistencias_UsuarioId; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "IX_Asistencias_UsuarioId" ON public."Asistencias" USING btree ("UsuarioId");


--
-- Name: IX_ConfiguracionesGrupoMuscular_GrupoMuscularId; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "IX_ConfiguracionesGrupoMuscular_GrupoMuscularId" ON public."ConfiguracionesGrupoMuscular" USING btree ("GrupoMuscularId");


--
-- Name: IX_EjerciciosAsignados_EjercicioId; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "IX_EjerciciosAsignados_EjercicioId" ON public."EjerciciosAsignados" USING btree ("EjercicioId");


--
-- Name: IX_EjerciciosAsignados_SesionId; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "IX_EjerciciosAsignados_SesionId" ON public."EjerciciosAsignados" USING btree ("SesionId");


--
-- Name: IX_Ejercicios_GrupoMuscularId; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "IX_Ejercicios_GrupoMuscularId" ON public."Ejercicios" USING btree ("GrupoMuscularId");


--
-- Name: IX_Ejercicios_MaquinaId; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "IX_Ejercicios_MaquinaId" ON public."Ejercicios" USING btree ("MaquinaId");


--
-- Name: IX_Entrenamientos_SocioId; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "IX_Entrenamientos_SocioId" ON public."Entrenamientos" USING btree ("SocioId");


--
-- Name: IX_Fotos_SocioId; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "IX_Fotos_SocioId" ON public."Fotos" USING btree ("SocioId");


--
-- Name: IX_Gimnasios_AdministradorId; Type: INDEX; Schema: public; Owner: admin
--

CREATE UNIQUE INDEX "IX_Gimnasios_AdministradorId" ON public."Gimnasios" USING btree ("AdministradorId");


--
-- Name: IX_Invitaciones_GimnasioId; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "IX_Invitaciones_GimnasioId" ON public."Invitaciones" USING btree ("GimnasioId");


--
-- Name: IX_Invitaciones_UsuarioId; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "IX_Invitaciones_UsuarioId" ON public."Invitaciones" USING btree ("UsuarioId");


--
-- Name: IX_Jornadas_DiaDeLaSemanaId; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "IX_Jornadas_DiaDeLaSemanaId" ON public."Jornadas" USING btree ("DiaDeLaSemanaId");


--
-- Name: IX_Jornadas_ProfesorId; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "IX_Jornadas_ProfesorId" ON public."Jornadas" USING btree ("ProfesorId");


--
-- Name: IX_LogrosSocios_LogroId; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "IX_LogrosSocios_LogroId" ON public."LogrosSocios" USING btree ("LogroId");


--
-- Name: IX_Maquinas_GimnasioId; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "IX_Maquinas_GimnasioId" ON public."Maquinas" USING btree ("GimnasioId");


--
-- Name: IX_MedidasCorporales_SocioId; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "IX_MedidasCorporales_SocioId" ON public."MedidasCorporales" USING btree ("SocioId");


--
-- Name: IX_Notificaciones_UsuarioEmisorId; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "IX_Notificaciones_UsuarioEmisorId" ON public."Notificaciones" USING btree ("UsuarioEmisorId");


--
-- Name: IX_Notificaciones_UsuarioReceptorId; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "IX_Notificaciones_UsuarioReceptorId" ON public."Notificaciones" USING btree ("UsuarioReceptorId");


--
-- Name: IX_Puntajes_SocioId; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "IX_Puntajes_SocioId" ON public."Puntajes" USING btree ("SocioId");


--
-- Name: IX_Rutinas_AdministradorId; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "IX_Rutinas_AdministradorId" ON public."Rutinas" USING btree ("AdministradorId");


--
-- Name: IX_Rutinas_ProfesorId; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "IX_Rutinas_ProfesorId" ON public."Rutinas" USING btree ("ProfesorId");


--
-- Name: IX_Rutinas_SocioId; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "IX_Rutinas_SocioId" ON public."Rutinas" USING btree ("SocioId");


--
-- Name: IX_Rutinas_UsuarioId; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "IX_Rutinas_UsuarioId" ON public."Rutinas" USING btree ("UsuarioId");


--
-- Name: IX_Series_EjercicioAsignadoId; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "IX_Series_EjercicioAsignadoId" ON public."Series" USING btree ("EjercicioAsignadoId");


--
-- Name: IX_Sesiones_RutinaId; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "IX_Sesiones_RutinaId" ON public."Sesiones" USING btree ("RutinaId");


--
-- Name: IX_Socios_GimnasioId; Type: INDEX; Schema: public; Owner: admin
--

CREATE INDEX "IX_Socios_GimnasioId" ON public."Socios" USING btree ("GimnasioId");


--
-- Name: Actividades FK_Actividades_EjerciciosAsignados_EjercicioAsignadoId; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Actividades"
    ADD CONSTRAINT "FK_Actividades_EjerciciosAsignados_EjercicioAsignadoId" FOREIGN KEY ("EjercicioAsignadoId") REFERENCES public."EjerciciosAsignados"("Id") ON DELETE CASCADE;


--
-- Name: Actividades FK_Actividades_Entrenamientos_EntrenamientoId; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Actividades"
    ADD CONSTRAINT "FK_Actividades_Entrenamientos_EntrenamientoId" FOREIGN KEY ("EntrenamientoId") REFERENCES public."Entrenamientos"("Id") ON DELETE CASCADE;


--
-- Name: Actividades FK_Actividades_Series_SerieId; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Actividades"
    ADD CONSTRAINT "FK_Actividades_Series_SerieId" FOREIGN KEY ("SerieId") REFERENCES public."Series"("Id") ON DELETE CASCADE;


--
-- Name: Administradores FK_Administradores_Usuarios_Id; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Administradores"
    ADD CONSTRAINT "FK_Administradores_Usuarios_Id" FOREIGN KEY ("Id") REFERENCES public."Usuarios"("Id") ON DELETE CASCADE;


--
-- Name: Asistencias FK_Asistencias_Gimnasios_GimnasioId; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Asistencias"
    ADD CONSTRAINT "FK_Asistencias_Gimnasios_GimnasioId" FOREIGN KEY ("GimnasioId") REFERENCES public."Gimnasios"("Id") ON DELETE CASCADE;


--
-- Name: Asistencias FK_Asistencias_Usuarios_UsuarioId; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Asistencias"
    ADD CONSTRAINT "FK_Asistencias_Usuarios_UsuarioId" FOREIGN KEY ("UsuarioId") REFERENCES public."Usuarios"("Id") ON DELETE CASCADE;


--
-- Name: ConfiguracionesGrupoMuscular FK_ConfiguracionesGrupoMuscular_GruposMusculares_GrupoMuscular~; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."ConfiguracionesGrupoMuscular"
    ADD CONSTRAINT "FK_ConfiguracionesGrupoMuscular_GruposMusculares_GrupoMuscular~" FOREIGN KEY ("GrupoMuscularId") REFERENCES public."GruposMusculares"("Id") ON DELETE CASCADE;


--
-- Name: EjerciciosAsignados FK_EjerciciosAsignados_Ejercicios_EjercicioId; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."EjerciciosAsignados"
    ADD CONSTRAINT "FK_EjerciciosAsignados_Ejercicios_EjercicioId" FOREIGN KEY ("EjercicioId") REFERENCES public."Ejercicios"("Id") ON DELETE CASCADE;


--
-- Name: EjerciciosAsignados FK_EjerciciosAsignados_Sesiones_SesionId; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."EjerciciosAsignados"
    ADD CONSTRAINT "FK_EjerciciosAsignados_Sesiones_SesionId" FOREIGN KEY ("SesionId") REFERENCES public."Sesiones"("Id") ON DELETE CASCADE;


--
-- Name: Ejercicios FK_Ejercicios_GruposMusculares_GrupoMuscularId; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Ejercicios"
    ADD CONSTRAINT "FK_Ejercicios_GruposMusculares_GrupoMuscularId" FOREIGN KEY ("GrupoMuscularId") REFERENCES public."GruposMusculares"("Id") ON DELETE RESTRICT;


--
-- Name: Ejercicios FK_Ejercicios_Maquinas_MaquinaId; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Ejercicios"
    ADD CONSTRAINT "FK_Ejercicios_Maquinas_MaquinaId" FOREIGN KEY ("MaquinaId") REFERENCES public."Maquinas"("Id");


--
-- Name: Entrenamientos FK_Entrenamientos_Socios_SocioId; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Entrenamientos"
    ADD CONSTRAINT "FK_Entrenamientos_Socios_SocioId" FOREIGN KEY ("SocioId") REFERENCES public."Socios"("Id") ON DELETE CASCADE;


--
-- Name: Fotos FK_Fotos_Socios_SocioId; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Fotos"
    ADD CONSTRAINT "FK_Fotos_Socios_SocioId" FOREIGN KEY ("SocioId") REFERENCES public."Socios"("Id") ON DELETE CASCADE;


--
-- Name: Gimnasios FK_Gimnasios_Administradores_AdministradorId; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Gimnasios"
    ADD CONSTRAINT "FK_Gimnasios_Administradores_AdministradorId" FOREIGN KEY ("AdministradorId") REFERENCES public."Administradores"("Id") ON DELETE SET NULL;


--
-- Name: Invitaciones FK_Invitaciones_Gimnasios_GimnasioId; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Invitaciones"
    ADD CONSTRAINT "FK_Invitaciones_Gimnasios_GimnasioId" FOREIGN KEY ("GimnasioId") REFERENCES public."Gimnasios"("Id") ON DELETE RESTRICT;


--
-- Name: Invitaciones FK_Invitaciones_Socios_UsuarioId; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Invitaciones"
    ADD CONSTRAINT "FK_Invitaciones_Socios_UsuarioId" FOREIGN KEY ("UsuarioId") REFERENCES public."Socios"("Id") ON DELETE RESTRICT;


--
-- Name: Jornadas FK_Jornadas_DiasDeLaSemana_DiaDeLaSemanaId; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Jornadas"
    ADD CONSTRAINT "FK_Jornadas_DiasDeLaSemana_DiaDeLaSemanaId" FOREIGN KEY ("DiaDeLaSemanaId") REFERENCES public."DiasDeLaSemana"("Id") ON DELETE CASCADE;


--
-- Name: Jornadas FK_Jornadas_Profesores_ProfesorId; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Jornadas"
    ADD CONSTRAINT "FK_Jornadas_Profesores_ProfesorId" FOREIGN KEY ("ProfesorId") REFERENCES public."Profesores"("Id") ON DELETE CASCADE;


--
-- Name: LogrosSocios FK_LogrosSocios_Logros_LogroId; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."LogrosSocios"
    ADD CONSTRAINT "FK_LogrosSocios_Logros_LogroId" FOREIGN KEY ("LogroId") REFERENCES public."Logros"("Id") ON DELETE CASCADE;


--
-- Name: Maquinas FK_Maquinas_Gimnasios_GimnasioId; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Maquinas"
    ADD CONSTRAINT "FK_Maquinas_Gimnasios_GimnasioId" FOREIGN KEY ("GimnasioId") REFERENCES public."Gimnasios"("Id") ON DELETE CASCADE;


--
-- Name: MedidasCorporales FK_MedidasCorporales_Socios_SocioId; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."MedidasCorporales"
    ADD CONSTRAINT "FK_MedidasCorporales_Socios_SocioId" FOREIGN KEY ("SocioId") REFERENCES public."Socios"("Id") ON DELETE CASCADE;


--
-- Name: Notificaciones FK_Notificaciones_Usuarios_UsuarioEmisorId; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Notificaciones"
    ADD CONSTRAINT "FK_Notificaciones_Usuarios_UsuarioEmisorId" FOREIGN KEY ("UsuarioEmisorId") REFERENCES public."Usuarios"("Id") ON DELETE RESTRICT;


--
-- Name: Notificaciones FK_Notificaciones_Usuarios_UsuarioReceptorId; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Notificaciones"
    ADD CONSTRAINT "FK_Notificaciones_Usuarios_UsuarioReceptorId" FOREIGN KEY ("UsuarioReceptorId") REFERENCES public."Usuarios"("Id") ON DELETE CASCADE;


--
-- Name: Profesores FK_Profesores_Usuarios_Id; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Profesores"
    ADD CONSTRAINT "FK_Profesores_Usuarios_Id" FOREIGN KEY ("Id") REFERENCES public."Usuarios"("Id") ON DELETE CASCADE;


--
-- Name: Puntajes FK_Puntajes_Socios_SocioId; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Puntajes"
    ADD CONSTRAINT "FK_Puntajes_Socios_SocioId" FOREIGN KEY ("SocioId") REFERENCES public."Socios"("Id") ON DELETE CASCADE;


--
-- Name: Rutinas FK_Rutinas_Administradores_AdministradorId; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Rutinas"
    ADD CONSTRAINT "FK_Rutinas_Administradores_AdministradorId" FOREIGN KEY ("AdministradorId") REFERENCES public."Administradores"("Id");


--
-- Name: Rutinas FK_Rutinas_Profesores_ProfesorId; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Rutinas"
    ADD CONSTRAINT "FK_Rutinas_Profesores_ProfesorId" FOREIGN KEY ("ProfesorId") REFERENCES public."Profesores"("Id");


--
-- Name: Rutinas FK_Rutinas_Socios_SocioId; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Rutinas"
    ADD CONSTRAINT "FK_Rutinas_Socios_SocioId" FOREIGN KEY ("SocioId") REFERENCES public."Socios"("Id") ON DELETE RESTRICT;


--
-- Name: Rutinas FK_Rutinas_Usuarios_UsuarioId; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Rutinas"
    ADD CONSTRAINT "FK_Rutinas_Usuarios_UsuarioId" FOREIGN KEY ("UsuarioId") REFERENCES public."Usuarios"("Id") ON DELETE RESTRICT;


--
-- Name: Series FK_Series_EjerciciosAsignados_EjercicioAsignadoId; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Series"
    ADD CONSTRAINT "FK_Series_EjerciciosAsignados_EjercicioAsignadoId" FOREIGN KEY ("EjercicioAsignadoId") REFERENCES public."EjerciciosAsignados"("Id") ON DELETE CASCADE;


--
-- Name: Sesiones FK_Sesiones_Rutinas_RutinaId; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Sesiones"
    ADD CONSTRAINT "FK_Sesiones_Rutinas_RutinaId" FOREIGN KEY ("RutinaId") REFERENCES public."Rutinas"("Id") ON DELETE CASCADE;


--
-- Name: Socios FK_Socios_Gimnasios_GimnasioId; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Socios"
    ADD CONSTRAINT "FK_Socios_Gimnasios_GimnasioId" FOREIGN KEY ("GimnasioId") REFERENCES public."Gimnasios"("Id") ON DELETE RESTRICT;


--
-- Name: Socios FK_Socios_Usuarios_Id; Type: FK CONSTRAINT; Schema: public; Owner: admin
--

ALTER TABLE ONLY public."Socios"
    ADD CONSTRAINT "FK_Socios_Usuarios_Id" FOREIGN KEY ("Id") REFERENCES public."Usuarios"("Id") ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict iASVjBub7dlC8IFjBZxWAWtMupvtJHIokDAQcbyTVKKTMlaeHsLar4iPb7YbnTn

